/* Coolors Exported Palette - coolors.co/dfdfdf-2a292b-dfc7b4-cfaa8a-8a4a16 */

/* HSL */
// $color1: hsla(0%, 0%, 87%, 1);
// $color2: hsla(270%, 2%, 16%, 1);
// $color3: hsla(27%, 40%, 79%, 1);
// $color4: hsla(28%, 42%, 68%, 1);
// $color5: hsla(27%, 73%, 31%, 1);

/* RGB */
$color1: rgba(223, 223, 223, 1);
$color2: rgba(42, 41, 43, 1);
$color3: rgba(223, 199, 180, 1);
$color4: rgba(207, 170, 138, 1);
$color5: rgba(138, 74, 22, 1);
